<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

</head>

<body>
<div class="footerMenu">
    <div id="footerLinks">
        <br><br>
        <ul id="ulLinks">
            <li class="bottomList">
                <a class="bottomLinks" href="{% url 'about' %}"> About</a>
            </li>
            <li class="bottomList">
                <a class="bottomLinks" href="{% url 'faq' %}"> FAQ</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>