{% extends "registration/base.html" %}

{% block content %}
<div class="login">
    <form method="POST" action="/login/">

        {% csrf_token %}
        <div class="input-group">
            <label class="input-label">Username</label>
            <input class="form-control" id="username" maxlength="30" name="username" placeholder="Username" type="text" /> 
            <label class="input-label">Password</label>
            <input class="form-control" id="password" maxlength="30" name="password" placeholder="Password" type="password" /> 
        </div>
        
        <input type="submit" class="button" value="Sign In"/>

    </form>
    <a>Don't have an account?</a>
    <a href="{% url 'signup' %}" style="text-decoration: none; color:blue" >Sign Up</a>
</div>
{% endblock content %}